<odoo>
	<data>
		<menuitem id="vit_ppic_material_plan_top_menu" name="Vit ppic material plan" sequence="20" web_icon="vit_ppic_material_plan,static/description/icon.png" />
		<menuitem id="vit_ppic_material_plan_sub_menu" name="Vit ppic material plan" sequence="40" parent="vit_ppic_material_plan_top_menu" web_icon="vit_ppic_material_plan,static/description/icon.png" />
	</data>
</odoo>